.array-container {
    position: relative;
    left:5%;
    margin-top: 2%;
    width: 90%;
    display: block;
  }
  
  .array-bar {
    display: inline-block;
    margin: 0 1px;
  }


  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    background: #ffffff;
    border: 1px solid blue;
    opacity: 0.8;
    transition-delay: 1s;
    -webkit-transition: .2s;
    transition: all .2s;
  }
  
  .slider:hover {
    opacity: 1;
    cursor: pointer;
  }
.slider:disabled{
    cursor: not-allowed;
}  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 1s;
  }
  
  .slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  .slider::-moz-range-thumb:hover{
    background: rgb(106, 86, 143);
  }
  .slider::-moz-range-thumb:disabled{
    cursor: not-allowed;
  }
  
  .box {
  background-color: #fafafa;
  transition: box-shadow .3s;
  padding-top: 1.5%;
  padding-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box:hover{
  box-shadow: 0 0 12px rgba(33,33,33,.2); 
}
.box2{
  border-radius: 1%;
  transition: box-shadow .3s;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 0 6px rgba(33,33,33,.2); 
}